#logs {
	padding-left: 0px;
	margin: 0px;
	font-size: 12px;
}

#logs ul {
	list-style-type: none;
	width: 100%;
	padding-left: 0px;
	margin: 0px;
}

#logs li {
	list-style-type: none;
	width: 98%;
	padding-left: 4px;
	padding-top: 0px;
	padding-bottom: 6px;
	background: #ccc;
	border: 1px solid green;
	float: left;
}

.container {
	width: 400px;
	height: 400px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin: 0px;
	padding: 0px;
}

#header {
	width: 300px;
	height: 30px;
	background-color: yellow;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#header p {
	padding: 3px;
	font-weight: bold;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#msg {
    width: 100px;
    height: 100px;
    background-color: white;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid black; 
    display: none;

    background:url(images/ajax-loader.gif) no-repeat center center;
}



.styled-button-on {
	display: block;
        background: #3EE324;
        padding:8px 13px;
        color:#fff;
        font-family:'Helvetica Neue',sans-serif;
        font-size:17px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        -webkit-appearance: none;
        border:1px solid #1A87B9;
        width:  90%;
	height: 200px;
} 


.styled-button-on:hover {
	background: #1FA60A;
	text-decoration: none;
}


.styled-button-off {
	display: block;
        background: #E04141;
        padding:8px 13px;
        color:#fff;
        font-family:'Helvetica Neue',sans-serif;
        font-size:17px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        -webkit-appearance: none;
        border:1px solid #1A87B9;
        width: 90%;
	height: 200px;
} 


.styled-button-off:hover {
	background: #E31010;
	text-decoration: none;
}



.styled-button-un {
	display: block;
        background: #5B7ACF;
        padding:8px 13px;
        color:#fff;
        font-family:'Helvetica Neue',sans-serif;
        font-size:17px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        -webkit-appearance: none;
        border:1px solid #1A87B9;
        width: 90%;
	height: 200px;
}


.styled-button-un:hover {
	background: #3A5299;
	text-decoration: none;
}


.styled-button-ready {
	display: block;
        background: #5B7ACF;
        padding:8px 13px;
        color:#fff;
        font-family:'Helvetica Neue',sans-serif;
        font-size:17px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        -webkit-appearance: none;
        border:1px solid #1A87B9;
        width: 90%;
        height: 200px;
}


.styled-button-ready:hover {
        background: #3A5299;
        text-decoration: none;
}




#list_wrapper {
   width: 100%;
}

ul{
    margin: 0 auto;
    padding: 0;
}

ul.multiple_columns li{
   text-align: left;
   float: left;
   list-style: none;
   height: 200px;
   width:  45%;
   margin: 20px 10px 20px 10px;
}
